.contenedor {
    background-color: bisque;
    width: 250px;
    height: 100px;
    padding: 15px;
    margin:30px;
}

.hidden {
    overflow: hidden;
}

.scroll {
    overflow: scroll;
}

.visible {
    overflow: visible;
}

.auto {
    overflow: auto;
}

.scroll-x {
    overflow-y: hidden;
    overflow-x: scroll;
}

.scroll-y {
    overflow-x: hidden;
    overflow-y: scroll;
}