$color-primario: #55A;
$color-secundario: #6B6;

$espaciado-estandar: 10px;
$espaciado-doble: 20px;

$borde1 : 1px solid #ddd;

$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 2em;

$tipografia-general: arial, verdana, sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;