<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "plantilla.html" %}

    {% block content %}

    <h1>Peliculas dirigida por {{ director }}</h1>
    {% for pelicula in peliculasFiltradas %}
        <p>Título: {{ pelicula.title }}</p>
        <p>Descripción: {{ pelicula.description }}</p>
        <hr>
    {% endfor %}
    <a href="javascript: history.go(-1)">Volver</a>
    {% endblock %}
</body>
</html>