

#miparrafo {
    color: orangered!important;
}

#miparraf::first-line {
    color: rgb(0, 255, 128)!important;
}

.verde {
    color: blue!important;
}

[atributo="valor"] {
    color: indigo;
}

.verde {
    color: green;
}

p {
    color: red;
}

input[type="text"] {

    background-color: lightsalmon;
}

input {
    background-color: lawngreen;
}
