<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base_generic.html" %}

    {% block content %}

    <h1>Local Library Home</h1>
    <p>Welcome to LocalLibrary, .....</p>
    <h2>Dynamic content</h2>
    <p>The Library ..... counts: {{ demo }}</p>
    <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instances }}</li>
        <li><strong>Copies available:</strong> {{ disponibles }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
    </ul>

    {% endblock %}
</body>
</html>